/* Signature Capture Styles */

.signature-canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Prevent pull-to-refresh during signature */
.signature-canvas:active {
  overscroll-behavior: contain;
}

/* Smooth drawing */
canvas.signature-canvas {
  cursor: crosshair;
}

@media (hover: none) and (pointer: coarse) {
  /* Mobile: Use pen cursor */
  canvas.signature-canvas {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"/></svg>') 2 22, crosshair;
  }
}

/* Disable text selection on signature area */
#signature-container {
  -webkit-tap-highlight-color: transparent;
}

/* Loading state */
.signature-canvas.loading {
  opacity: 0.5;
  pointer-events: none;
}
